body {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;

}

.grid_center {
    display: grid;
    place-content: center;
    height: 100vh;
}

.promo_card {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 670px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 1rem;
    background-color: white;
    border-radius: .5rem;
    overflow: hidden;
}

.promo_card h1 {
    color: hsl(179, 62%, 43%);
}

.invite_intro p:first-of-type {
    color: hsl(71, 73%, 54%);
    font-size: 1.15rem;
    font-weight: 700;
}

.invite_intro p:last-of-type {
    color: #b0b2be;
}

.promo_card>div {
    padding: .5rem 1.5rem;
}

.price_plan {
    background-color: hsl(179, 62%, 43%);
    color: white;
}

.price_plan p:first-of-type {
    color: #87D8DF;
}

.price_plan p:last-of-type {
    color: #B8EAEF;

}

.price_plan span {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-right: .5rem;
    vertical-align: sub;
}

.cta_btn {
    width: 100%;
    background-color: hsl(71, 73%, 54%);
    padding: 1rem;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: .425rem;
    margin: .725rem 0;

}

.price_plan:hover .cta_btn {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.why_us {
    background-color: #49BEBD;
    color: white;
}

.why_us p {
    color: #B8EAEF;
}


.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



@media (min-width:576px) {
    .promo_card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .invite_intro {
        grid-area: 1/ span 2;
    }

    .promo_card>div {
        padding: 2rem 3rem;
    }
}